# Dependency directories
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/

# Expo directories
.expo/
web-build/

# Turborepo Cache
.turbo/

# Local env files
.env
.env.*

# System files
.DS_Store

# Logs
*.log
